/* cellphone portrait */
@media only screen and (max-width: 600px) and (orientation: portrait){
    #navbar > ul{
      display: none;
    }
  
    #carousel_container{
      height: 30%;
      width: 100%;
    }
  
    #navbar {
      background: #bbebeb;
    }
  
  
   .visible{
      height: 2em;
      border-bottom: none;
      background: #bbebeb;
    }
  
    .transparent{
      height: 2em;
      background: #bbebeb;
    }
  
    .container > .title-section {
      font-size: 30px;
    }
  
    .container{
      margin: 2em 0;
    }
  
    .servicios-container{
      flex-direction: column;
      width: 100%;
      margin: 0;
    }
  
    .servicio {
      height: 2em;
      border-bottom: dotted 1px black;
    }
  
    .servicio > img{
      display: none;
    }
  
    #carousel_container{
      display: none;
    }
  
  
    .content-container{
      padding: 0;
    }
    .content-container > section{
      flex-direction: column;
      margin: 2em 0;
    }
  
    .content-container > section > img{
      align-self: center;
      margin: 0;
      padding: 3em 0;
      max-width: 100%;
    }
  
    .hidden{
      height: 280px;
      width: 100%;
      background-image: url('../img/img_1.jpg');
      background-position: top center;
    }
    .text-container{
      width: 100%;
      margin: 0;
    }
  
    .title{
      margin: 0;
      width: 100%;
      font-size: 35px;
      text-align: center;
      box-sizing: border-box;
      margin: 0;
      padding: 0 1em;

    }
  
    .text1{
      width: 100%;
      box-sizing: border-box;
      margin: 0;
    }
  
    .text2{
      width: 100%;
      box-sizing: border-box;
      margin: 0;
      padding: 2em 1em;
    }
    #deposito{
      display: none;
    }
  
    .second{
      padding: 0;
    }
  
    #contacto{
      width: 100%;
      height: 60%;
      flex-direction: column;
      box-sizing: border-box;
    }
}  

/* cellphone landscape */
@media only screen and (min-width: 600px) and (max-width: 900px) and (orientation: landscape){
    #navbar > ul > li{
        display: none;     
    }

    #anmat_logo{
        display: none;
    }

    .anmat_title{
        font-size: 40px;
    }

    .img1 > .message_container > p {
        font-size: 30px;
        margin: 0;
        width: auto;
    }

    .img1 > .message_container {
        width: auto;
    }

    .img2 > .message_container > span{
        font-size: 40px;
    }

    .img2 > .message_container > p{
        font-size: 25px;
    }

    .img2 > .message_container {
        margin-top: 2em;
        align-content: flex-end;
    }

    .img3 > .message_container{
        box-sizing: border-box;

    }

    .img3 > .message_container > span{
        font-size: 40px;
    }

    .img3 > .message_container > p {
        font-size: 30px;
    }

    .img4 > .message_container {
        margin: 0;
    }

    .img4 > .message_container > a {
        font-size: 40px;
        margin: 4em 0 0 5em;
    }

    .servicios-container{
        width: 100%;
    }

    .content-container {
        flex-direction: column;
    }

    .content-container > section{
        flex-direction: column;
       
    }

    .content-container > section > img {
        align-self: center;
    }
    .text2{
        margin: 0;
    }
    .text1{
        margin-left: 40px;
    }

    #deposito{
        display: none;
    }

    .text_container{
        margin-top: 2em;
    }

    .title{
        margin-bottom: 1em;
        padding-right: 1em;
    }

    .second{
        margin: 0;
    }

    #que_hacemos{
        z-index: auto;
    }
}

/* tablet landscape */
@media only screen and (min-width: 900px) and (max-width: 1200px) and (orientation: landscape){
   .img1 > .message_container > p{
       font-size: 40px;
       margin-left: 8em;
   }

   .anmat_title{
       font-size: 65px;
   }

   #firstClone > .message_container {
       display: none;
   }

   .content-container > section > img {
       align-self: center;
   }

   

}

/* tablet portrait */
@media only screen and (min-width: 600px) and (max-width: 900px) and (orientation: portrait){
 .carousel_slide{
     height: 400px;
 }

 #carousel_container{
     height: 400px;
 }

 .carousel_slide > div{
     height: 400px;
 }

 #carousel_container > div{
     height: 400px;
     box-sizing: border-box;
 }

 .img1 > .message_container {
     height: 400px;
     margin: 0;
 }

 .message_container > p > span{
     font-size: 50px;
 }

 .img1 > .message_container > p{
     font-size: 40px;
     margin-left: 10em;
 }
 .img2 > .message_container{
     height: 400px;
 }

 .img2 > .message_container > span{
     font-size: 40px;
 }

 .img2 > .message_container > p{
     font-size: 30px;
 }
 .img3 > .message_container {
     height: 400px;
 }

 .img3 > .message_container > span{
     font-size: 40px;
 }

 .img3 > .message_container > p {
     font-size: 30px;
 }

 .img4 > .message_container {
     height: 400px;
     margin: 0;
     font-size: 30px;
 }

 .img4 > .message_container > a{
    font-size: 30px;
    width: 50%;
    position: absolute;
    bottom: 30px;
    margin-left: 12em;
 }

 #prev_button{
    top: 17%;
 }

 #next_button{
     top: 17%;
 }

 #anmat_logo{
     display: none;
 }

 .servicios-container{
     width: auto;
 }

 .content-container > section {
     flex-direction: column;
 }

 .content-container > section > img{

     align-self: center;
     max-width: 700px;
     align-self: center;
     
 }

 #deposito{
     display: none;
 }

 .text1{
     margin: 0;
 }

 .text_container{
    margin: 2em 0;
 }
 .text_container > p{
     margin: 1em 2em;
 }

 .second{
     padding: 0;
     margin: 0;
 }

}