@import url("https://fonts.googleapis.com/css?family=Khand|Open+Sans&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

#navbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 70px;
  display: flex;
  justify-content: space-around;
  z-index: 1;
}
.visible {
  border-bottom: #f28f16 solid 2px;
  background: white;
}

.transparent {
  background: none;
  border: none;
}

#logo {
  font-family: "Khand", sans-serif;
  font-size: 40px;
  display: flex;
  flex-direction: column;
}

#logo > .blue {
  color: #58a6a6;
}

#logo > .orange {
  color: #f28f16;
  font-size: 18px;
  margin: -20px 0;
}
ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  min-width: 30%;
}

a {
  text-decoration: none;
  color: black;
}

p {
    margin: 0;
  }
  

#navbar > ul > li {
  background: #f28f16;
  padding: 0 10px;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

#navbar > ul > li:hover {
  background: rgb(46, 175, 175);
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5em 0;
}

.title-section {
  display: flex;
  justify-content: center;
  margin: 0;
  font-family: "Khand", sans-serif;
  font-size: 40px;
  width: 15%;
  border-bottom: solid 3px #f28f16;
}

.servicios-container {
  display: flex;
  justify-content: space-around;
  margin: 2em 0;
  width: 70em;
}

.servicio {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
  border-bottom: solid 1px grey;
}

.servicio > span {
  text-align: center;
}

.servicio > img {
  width: 120px;
  margin-bottom: 2em;
  flex: 2;
}

.content-container {
  background-color: rgb(163, 219, 219);
  padding: 5em 2em;
}

.content-container > section {
  display: flex;
}

.content-container > section > img {
  width: 200em;
}
.text-container {
  display: flex;
}

.title {
  font-family: "Khand", sans-serif;
  font-size: 40px;
  border-bottom: solid 3px #f28f16;
  width: 500px;
  display: flex;
  justify-content: flex-end;
  margin: 0 3em;
}

.text1 {
  background: white;
  width: 500px;
  padding: 3em;
  margin-top: 2em;
  margin-left: -70px;
}

.second {
  background-color: rgb(163, 219, 219);
  padding: 5em 2em;
  margin-top: 5em;
}

.text2 {
  background: white;
  width: 500px;
  padding: 3em;
  margin: 2em -100px 0 auto;
  position: relative;
}

footer {
  background: rgb(0, 22, 18);
  height: 250px;
  padding: 2em;
  color: rgb(169, 216, 216);
  display: flex;
  justify-content: space-around;
}

.contact_container {
  display: flex;
  flex-direction: column;
  margin-top: 5em;
}

.contact_title {
  color: #f28f16;
  border-bottom: #58a6a6;
  margin-bottom: 1em;
  font-size: 20px;
  font-family: "Khand", sans-serif;
}
